/* ============================================
     BASE STYLES
     ============================================ */

html {
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bau', sans-serif;
  background-color: var(--ivory);
}
