/* ============================================
   SECTION 2 - WHAT WE DO
   ============================================ */

#section-2 {
  margin-top: 100px;
  position: relative;
  background-image: url(../images/section-2-bkg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 400px;
  min-height: 100vh;
}

#section-2 .heading-1 {
  text-align: center;
  padding-top: 50px;
  font-size: calc(60rem / 16);
  letter-spacing: -1.4px;
  line-height: calc(68 / 60);
}

#section-2 .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#geese {
  position: absolute;
  right: 30px;
  top: 20px;
}

.card .media {
  aspect-ratio: 1;
  width: 30%;
}

/* ============================================
   RESPONSIVE STYLES
   ============================================ */

@media screen and (max-width: 1024px) {
  #section-2 .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #section-2 {
    padding-bottom: 200px;
    margin-top: 50px;
  }

  #section-2 .heading-1 {
    font-size: 2.5rem;
    padding-top: 30px;
  }

  #geese {
    right: 10px;
    top: 10px;
    width: 300px;
    height: auto;
  }
}
