.carousel {
  margin-bottom: 20px;
  overflow: hidden;
}

.slick-track {
  opacity: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 50000px;
  transition: transform 0.3s ease;
}
.slide.slick-slide {
  display: flex;
}

.slick-arrow {
  background: url(images/btn-arrow.svg) no-repeat center;
  border: 2px solid var(--black);
  border-radius: 100%;
  font-size: 0px;
  height: 40px;
  text-indent: -999999px;
  width: 40px;
  position: absolute;
}

.slick-next {
  right: 130px;
  top: 80px;
}

.slick-prev {
  right: 180px;
  top: 80px;
  transform: scale(-1, 1);
}

@media screen and (max-width: 768px) {
  /* Carousel navigation on mobile - reposition arrows */
  .slick-prev,
  .slick-next {
    position: relative;
    right: auto;
    top: auto;
    margin: 20px 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .slick-prev {
    transform: scale(-1, 1);
  }
}
